@import "tailwindcss";

body, #root{
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #222;
  color: #fff;
}
.small-card {
  width: 300px; 
  height: 200px; 
  justify-content: center;
}
.medium-card {
  width: 900px; 
  height: 200px; 
  justify-content: center;
}
#dev{ 
  @keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
}
html, body {
  overflow-x: hidden; 
  width: 100%;
}
@media (max-width: 320px) {
  .medium-card {
    width: 100%;
  }

}